@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="navbar-brand bg-white" asp-area="" asp-controller="Home" asp-action="Index"><img src="/css/bn14hjq39c3kq46yybox.jpeg" width="100%" height="auto" alt="Cinque Terre"></a>
</div>
